*{
  margin: 0;
  padding: 0;
}
.nav-container{
  display: flex;
  justify-content: flex-end;
  background-color: blueviolet;
  align-items: center
}
h3{
  justify-self: start;
}
.nav-body{
  background-color: aqua;
  display: flex;
  height: 7vh;
  width: 240px;
  align-items: center;
}
.nav-icons{
list-style-type: none;
}